@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  src: url('/path/to/vazir.ttf') format('truetype');
}

@font-face {
  font-family: 'Comic Sans';
  src: url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');
}

.font-vazir {
  font-family: 'Vazir', sans-serif;
}

.font-comic-sans {
  font-family: 'Comic Sans', sans-serif;
}

body {
  font-family: 'vazir',
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register{
  width: 80%;
  height: 2.12rem;
  border-radius: 10px;
  background-color: rgb(199, 214, 255);
  margin-bottom: 20px;
  color: rgb(37, 37, 37);
  font-size: 22px;
  padding: 2px 7px;
}

.submit{
  background-color: rgba(21, 7, 70, 0.534);
  backdrop-filter: blur(10px);
}
.submit:hover{
  color: rgba(21, 7, 70, 0.534);
  background-color: #b8b8b8;
  transition: all 0.25s;
  transform: scale(1.09);
}

.profile{
  background:linear-gradient(to left , rgb(71, 71, 71) , rgb(170, 170, 170));
  border: solid 2px rgb(109, 109, 109);
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.chat-page{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.54'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23000a3c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23001545' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23011d4e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23102558' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231D2D62' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'vazir', sans-serif,
}

.left{
  background-color: rgba(53, 56, 94, 0.26);
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.right{
  background-color: rgba(53, 56, 94, 0.26);
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.img_search:hover{
  opacity: 1;
  transition: all 0.25s;
}

.chat{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px auto ;
  gap: 14px;
  background-color: rgba(71, 71, 71, 0.356);
  border-radius: 20px;
  border: solid 4px rgb(34, 34, 34);
  padding: 7px 5px;
  cursor: pointer;
}

.messages{
  background-color: rgba(54, 54, 54, 0.027);
  backdrop-filter: blur(5px);
  animation: messages 0.75s normal;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@keyframes messages {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.top{
  background-color: rgba(104, 119, 151, 0.582);
  backdrop-filter: blur(10px);
  border-bottom: solid 3px rgba(54, 54, 54, 0.575);
  border-left: solid 3px rgba(54, 54, 54, 0.575);
  border-right: solid 3px rgba(54, 54, 54, 0.575);
  animation: top 0.75s normal;
}
@keyframes top {
  from{
    opacity: 0;
    transform: translateY(-20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.container-chat-page{
  background-color: rgba(124, 124, 124, 0.178);
  backdrop-filter: blur(10px);
}

.sendM{
  background-color: rgba(81, 90, 105, 0.233);
  backdrop-filter: blur(15px);
  animation: input 0.75s normal;
}
@keyframes input {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.send-btn:hover{
  transform: translateX(5px);
  transition: all 0.25s;
}

input:focus {
  outline: none;
  box-shadow: none;
}


.search{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgba(102, 102, 102, 0.219);
  border-radius: 30px;
  width: full;
}


.search-input{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: rgba(184, 184, 184, 0.445);
  border-radius: 10px;
  width: full;
}

.send-m {
  float: right;
  padding: 5px 20px;
  max-width: 100%;
  background-color: white;
  font-size: 20px;
  border-end-end-radius: 10px;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
  display: flex;
  animation: sendM normal 0.75s;
  height: max-content;
  word-wrap: break-word; /* اضافه شده */
  overflow-wrap: break-word; /* اضافه شده */
}

@keyframes sendM {
  from{
    opacity: 0;
    transform: translateX(10px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.receive-m {
  margin-right: auto;
  padding: 5px 20px;
  width: auto;
  background-color: rgb(174, 198, 233);
  font-size: 20px;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
  border-end-start-radius: 10px;
  display: inline-block;
  animation: receiveM normal 0.75s;
  height: max-content;
  word-wrap: break-word; /* اضافه شده */
  overflow-wrap: break-word; /* اضافه شده */
}

@keyframes receiveM {
  from{
    opacity: 0;
    transform: translateX(-10px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.receive-message{
  width: 80%;
}
.send-message{
  width: 80%;
  margin-left: auto;
}


.suggest {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgba(26, 35, 65, 0.658);
  backdrop-filter: blur(4px);
  animation: suggest 0.75s normal;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

@keyframes suggest {
  from {
    opacity: 0;
    transform: translateY(-20px) rotate(-5deg);
  }
  to {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
  }
}

.profile_s{
  background:linear-gradient(to left , rgb(71, 71, 71) , rgb(170, 170, 170));
  border: solid 2px rgb(109, 109, 109);
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.chat_s{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto ;
  gap: 14px;
  background-color: rgba(134, 134, 134, 0);
  border-bottom: solid 2px rgba(34, 34, 34, 0.644);
  padding: 10px 5px;
  cursor: pointer;
}

.main-home{
  background-color: #18244C;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23142154' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23101e5c' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230c1965' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2307146e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23020D78' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23030a66' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23040755' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23040544' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23040433' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23040323' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.title{
  background-color: rgba(78, 78, 161, 0.459);
  backdrop-filter: blur(7px);
}
.form{
  background-color: rgba(78, 78, 161, 0.459);
  backdrop-filter: blur(15px);
}

::-webkit-scrollbar {
  width: 12px;
}

/* تغییر رنگ اسکرول بار */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* تغییر رنگ اسکرول بار هنگام هاور */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.me-me{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.me-me:hover{
  transform: scale(1.05);
  transition: ease-out 0.5s; 
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

